{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block style %}
<!-- <style>
.form-control {
  padding-right: 30px;
}

.form-control + .fas {
  position: absolute;
  right: 0;
  padding: 8px 27px;
} -->
</style>
{% endblock %}

{% block body %}
<h1>Usuario logado</h1>

<a href="{% url 'login:logout' %}">LOGOUT</a>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title  mb-3">
                        Status
                    </h5>

                    {% if messages %}
                    {% for message in messages %}
                    {% if message.level %}
                    <div class="alert alert-{{ message.tags }} " role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% if all_status %}
                    <form action="" method="post">
                        <input type="hidden" name="_method" value="PUT">
                        <input type="hidden" name="_model_class" value="status">
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover table-sm">
                                <caption>
                                    <button class="btn btn-primary botao-criar">Criar</button>
                                </caption>
                                <thead>
                                    <tr>
                                        <th scope="col">Código</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Ação</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for status in all_status %}
                                    <tr>
                                        <input type="hidden" class="hidden_id" name="_id" value="{{ status.id }}" disabled>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="codigo"
                                                    curvalue="{{ status.codigo }}" value="{{ status.codigo }}"
                                                    disabled="">
                                                <span class="input-group-append">
                                                    <i class="input-group-text bi bi-pencil-square"></i>
                                                </span>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="nome"
                                                    curvalue="{{ status.nome }}" value="{{ status.nome }}" disabled>
                                                <span class="input-group-append">
                                                    <i class="input-group-text bi bi-pencil-square"></i>
                                                </span>
                                            </div>
                                        </td>

                                        <td>
                                            <button class="btn btn-danger botao-apagar w-100 {{ status.id }}">Apagar</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                    {% else %}
                    <p class="lead vazio text-center">
                        Não há nenhum status.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const getAllSiblings = (elem) => {
        const siblings = [];

        if (!elem.parentNode) {
            return siblings;
        }

        let sibling = elem.parentNode.firstElementChild;

        do {
            if (sibling != elem) {
                siblings.push(sibling);
            }
        } while (sibling = sibling.nextElementSibling);

        return siblings;
    };

    // Editado
    const insertEditIcon = formControl => {
        const inputGroup = formControl.closest('.input-group')
        const editIcon = generateEditAndSendIcons('edit')
        insertElement(inputGroup, editIcon, '.input-group-append', 'appendChild')
    }

    // Edited
    const insertSendIcon = formControl => {
        const inputGroup = formControl.closest('.input-group')
        const sendIcon = generateEditAndSendIcons('send')
        insertElement(inputGroup, sendIcon, '.input-group-append', 'appendChild')
    }

    const removeSendIcon = formControl => {
        const inputGroup = formControl.closest('.input-group')
        const inputGroupAppend = inputGroup.querySelector('.input-group-append')
        if (inputGroupAppend) {
            inputGroupAppend.remove()
            return true
        }

        return false
    }

    const checkIfInputValueWasEdited = formControl => {
        if (formControl.value != formControl.getAttribute('curValue')) return true
        return false
    }

    const checkIfAtLeast2FieldsInTheRowHaveBeenEdited = formControl => {
        const tr = formControl.closest('tr')
        const formControls = Array.prototype.slice.call(tr.querySelectorAll('.form-control'))
        const editedFields = formControls.reduce((acc, nestedFormControl) => {
            if (checkIfInputValueWasEdited(nestedFormControl)) return acc += 1
            return acc
        }, 0)

        if (editedFields >= 2) return true
        return false
    }
    
    const addDeleteButton = formControl => {
        const tr = formControl.closest('tr')
        const deleteButton = tr.querySelector('.botao-apagar')
        
        if (!deleteButton) {
            const td = document.createElement("td")
            td.innerHTML = `
            <button type="submit" class="btn btn-danger botao-apagar w-100">Apagar</button>
            `
            const trChildren = Array.prototype.slice.call(tr.children)
            tr.appendChild(td)
            addEventDeleteButton(tr.querySelector('.botao-apagar'))
        }
    }
    
    // Edited
    const insertUpdateButton = formControl => {
        const tr = formControl.closest('tr')
        const td = document.createElement("td")
        td.appendChild(generateButton('submit', 'success', 'botao-atualizar', 'w-100', 'Atualizar'))
        insertElement(tr, td, '.botao-atualizar', 'appendChild')
    }
    
    const removeUpdateButton = formControl => {
        const tr = formControl.closest('tr')
        const updateButton = tr.querySelector('.botao-atualizar')
        
        if (updateButton) {
            const td = updateButton.parentElement
            td.remove()
            return true
        }
        return false
    }
    
    const insertEditIconInEditedFields = formControl => {
        const td = formControl.closest('td')
        const tdSiblings = getAllSiblings(td)

        tdSiblings.forEach(sibling => {
            const siblingInput = sibling.querySelector('.form-control')

            if (siblingInput) {
                const siblingInputWasEdited = checkIfInputValueWasEdited(siblingInput)

                if (siblingInputWasEdited) {
                    insertSendIcon(siblingInput)
                    createEventEditButton(siblingInput)
                }
            }

        })
    }

    const generateConfirmationCard = action => {
         const templateCollapse = `
                <p class="text-center">Tem certeza que deseja ${action}?</p>
                <div class="btn-toolbar mb-3 d-flex justify-content-center">
                    <div class="btn-group mr-2">
                        <button type="submit" class='btn btn-secondary allow'>SIM</button>
                    </div>
                    <div class="btn-group mr-2">
                        <button type="button" class='btn btn-primary denied'>NAO</button>
                    </div>
                </div>
            `

        const card = document.createElement('div')
        card.setAttribute('class', 'card card-body')
        card.innerHTML = templateCollapse

        return card
    }

    // Editado
    const insertConfirmationButtons = (td, verb) => {
        if (!td.querySelector('.card')) {
            const card = generateConfirmationCard(verb)
            td.appendChild(card)
        }
    }

    const reInsertAllIcons = tBody => {
        const formControls = Array.prototype.slice.call(tBody.querySelectorAll('.form-control'))

        formControls.forEach(nestedFormControl => {
             const inputWasEdited = checkIfInputValueWasEdited(nestedFormControl)

                if (inputWasEdited) {
                    insertSendIcon(nestedFormControl)
                    createEventEditButton(nestedFormControl)
                    if (nestedFormControl.hasAttribute('disabled')) nestedFormControl.removeAttribute('disabled')
                } else {
                    insertEditIcon(nestedFormControl)
                    createEventClickEditIcon(nestedFormControl)
                }
        })
    }

    // UPDATES
    const setHiddenInput = (where, action) => {
        const hiddenInputs = Array.prototype.slice.call(where.querySelectorAll('.hidden_id'))

        hiddenInputs.forEach(hiddenInput => {
            if (action === 'setDisabled') hiddenInput.setAttribute('disabled', '')
            else if (action === 'removeDisabled') hiddenInput.removeAttribute('disabled')
        })
    }

    const removeElement = (where, selector, action) => {
        const elements = Array.prototype.slice.call(where.querySelectorAll(`${selector}`))

        elements.forEach(element => {
            if (action === 'removeParent') {
                element.parentElement.remove()
            } else element.remove()
        })
    }

    const setAttributeDisabled = (where, selector, exception) => {
        const elements = Array.prototype.slice.call(where.querySelectorAll(`${selector}`))

        elements.forEach(element => {
             if (exception) {
                 if (!element.isEqualNode(exception)) element.setAttribute('disabled', '')
             } else element.setAttribute('disabled', '')
        })
    }

    const removeAttributeDisabled = (where, selector, exception) => {
        const elements = Array.prototype.slice.call(where.querySelectorAll(`${selector}`))

        elements.forEach(element => {
             if (exception) {
                 if (!element.isEqualNode(exception)) element.removeAttribute('disabled')
             } else element.removeAttribute('disabled')
        })
    }

    const insertElement = (where, element, findForSelector, action) => {
        if (!where.querySelector(`${findForSelector}`)) {
            if (action == 'appendChild') where.appendChild(element)
        }
    }

    const generateButton = (type, color, className, width, name) => {
        const button = document.createElement('button')
        if (type) button.setAttribute('type', `${type}`)
        button.setAttribute('class', `btn btn-${color} ${className} ${width}`)
        button.innerText = name

        return button
    }

    const generateEditAndSendIcons = icon => {
        const inputGroupAppend = document.createElement("SPAN")
        inputGroupAppend.setAttribute("class", "input-group-append")

        if (icon == 'send') {
            const templateSendIcon = `
                <i class="input-group-text bi bi-send"></i>
            `
            inputGroupAppend.innerHTML = templateSendIcon
            return inputGroupAppend
        } else {
            const templateEditIcon = `
                <i class="input-group-text bi bi-pencil-square"></i>
            `
            inputGroupAppend.innerHTML = templateEditIcon
            return inputGroupAppend
        }
    }

    const generateTr = fields => {
        const tr = document.createElement('tr')

        for (let index = 0; index < fields.length - 1; index++) {
            const name = fields[index].innerText.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "");
            const td = document.createElement('td')
            td.innerHTML = `
            <input type="text" class="form-control" name=${name}>
            `
            tr.appendChild(td)
        }

        const td = document.createElement("td")
        td.appendChild(generateButton('submit', 'success', 'botao-enviar', 'w-100', 'Enviar'))
        tr.appendChild(td)
        return tr
    }


    // END UPDATES
    
    const createEventConfirmationButtonsUpdate = formControl => {
        const tr = formControl.closest('tr')
        const tbody = formControl.closest('tbody')
        const deniedButton = tr.querySelector('.denied')
        deniedButton.addEventListener('click', ev => {
            deniedButton.removeEventListener('click', () => { })
            ev.preventDefault()
            const nestedCard = deniedButton.closest('.card')

            reInsertAllIcons(tbody)
            setAttributeDisabled(tbody, '.hidden_id')
            removeAttributeDisabled(deniedButton.closest('table'), '.btn')
            nestedCard.remove()

        })
    }

    const createEventConfirmationButtonDelete = element => {
        element.addEventListener('click', (event) => {
            element.removeEventListener('click', ()=>{})
            event.preventDefault()
            const form = element.closest('form')
            const inputMethod = form.querySelector('[value=DELETE]')
            inputMethod.setAttribute('value', 'PUT')
            setAttributeDisabled(form, '.hidden_id')
            removeAttributeDisabled(form, '.btn')
            reInsertAllIcons(form)
            const nestedCard = element.closest('.card')
            nestedCard.remove()
        })
    }

    const createEventEditButton = formControl => {
        const inputGroupAppend = formControl.nextElementSibling
        inputGroupAppend.addEventListener('click', (e) => {
            inputGroupAppend.removeEventListener('click', () => { })
            removeElement(formControl.closest('tbody'), '.input-group-append')
            setAttributeDisabled(formControl.closest('tbody'), '.form-control', formControl)
            const hiddenIdCurrentRow = formControl.closest('tr').querySelector('.hidden_id')
            hiddenIdCurrentRow.removeAttribute('disabled')
            setAttributeDisabled(formControl.closest('tbody'), '.hidden_id', hiddenIdCurrentRow)
            setAttributeDisabled(formControl.closest('table'), '.btn', formControl.closest('tr').querySelector('.btn'))
            insertConfirmationButtons(formControl.closest('td'), 'atualizar')
            createEventConfirmationButtonsUpdate(formControl)
        })
    }

    const createEventClickEditIcon = formControl => {
        const inputGroupAppend = formControl.nextElementSibling
        const inputGroupText = inputGroupAppend.firstElementChild
        inputGroupText.addEventListener('click', (event) => {
            inputGroupText.removeEventListener('click', () => { })
            inputGroupAppend.remove()
            formControl.removeAttribute('disabled')
            formControl.focus()
        })
    }

    const createEventFocusOutInput = formControl => {
        formControl.addEventListener('focusout', (event) => {
            const target = event.target
            formControl.removeEventListener('focusout', () => { })
            const inputWasEdited = checkIfInputValueWasEdited(target)

            if (inputWasEdited) {
                const atLeast2FieldsWereEdited = checkIfAtLeast2FieldsInTheRowHaveBeenEdited(target)

                if (atLeast2FieldsWereEdited) {
                    removeElement(target.closest('tr'), '.botao-apagar', 'removeParent')
                    insertUpdateButton(target)
                    removeElement(target.closest('tr'), '.input-group-append')
                } else {
                    insertSendIcon(target)
                    createEventEditButton(target)
                }
            } else {
                removeSendIcon(target)
                if (removeUpdateButton(target)) {
                    addDeleteButton(target)
                    insertEditIconInEditedFields(target)
                }
                insertEditIcon(target)
                target.setAttribute('disabled', '')
                createEventClickEditIcon(target)
            }

        })
    }

    const formControls = Array.prototype.slice.call(document.querySelectorAll('input.form-control'))

    formControls.forEach(formControl => {
        createEventClickEditIcon(formControl)
        createEventFocusOutInput(formControl)
    });

    const addEventAbortCreateButton = abortCreateButton => {
        abortCreateButton.addEventListener('click', event => {
            abortCreateButton.removeEventListener('click', ()=>{})
            event.preventDefault()
            const table = abortCreateButton.closest('table')
            const thead = table.querySelector('thead')
            const tbody = table.querySelector('tbody')
            const createButton = generateButton(false, 'primary', 'botao-criar', '', 'Criar')
            const form = table.closest('form')
            const inputMethod = form.querySelector('[name=_method]')
            inputMethod.setAttribute('value', 'PUT')
            const tr = tbody.lastElementChild
            tr.remove()
            abortCreateButton.parentElement.remove()
            const caption = document.createElement('caption')
            caption.appendChild(createButton)
            table.insertBefore(caption, thead)
            addEventCreateButton(table.querySelector('.botao-criar'))
            removeAttributeDisabled(tbody, '.btn')
            reInsertAllIcons(tbody)
        })
    }

    const addEventCreateButton = createButton => {
        createButton.addEventListener('click', (event) => {
            createButton.removeEventListener('click', () => { })
            event.preventDefault()
            const table = createButton.closest('table')
            const thead = table.querySelector('thead')
            const tbody = table.querySelector('tbody')
            const fields = thead.firstElementChild.children
            const form = table.closest('form')
            const inputMethod = form.querySelector('[value=PUT]')
            inputMethod.removeAttribute('value')
            removeElement(tbody, '.input-group-append')
            setAttributeDisabled(tbody, '.form-control')
            tbody.appendChild(generateTr(fields))
            createButton.parentElement.remove()
            const abortCreateButton = generateButton(false, 'danger', 'botao-cancelar-criacao', '', 'Cancelar')
            const caption = document.createElement('caption')
            caption.appendChild(abortCreateButton)
            table.insertBefore(caption, thead)
            setAttributeDisabled(tbody, '.btn',  table.querySelector('.botao-enviar'))
            addEventAbortCreateButton(table.querySelector('.botao-cancelar-criacao'))
        })
    }

    const addEventDeleteButton = deleteButton => {
        deleteButton.addEventListener('click', event => {
            event.preventDefault()
            deleteButton.removeEventListener('click', () => { })
            const form = deleteButton.closest('form')
            const tr = deleteButton.closest('tr')
            const hiddenInput = tr.querySelector('.hidden_id')
            hiddenInput.removeAttribute('disabled')
            setAttributeDisabled(form, '.hidden_id', hiddenInput)
            const inputMethod = form.querySelector('[value=PUT]')
            inputMethod.setAttribute('value', 'DELETE')
            setAttributeDisabled(form, '.btn', deleteButton)
            removeElement(deleteButton.closest('tbody'), '.input-group-append')
            insertConfirmationButtons(deleteButton.closest('td'), 'deletar')
            createEventConfirmationButtonDelete(deleteButton.closest('td').querySelector('.denied'))
        })
    }

    const deleteButtons = Array.prototype.slice.call(document.querySelectorAll('.botao-apagar'))

    deleteButtons.forEach(deleteButton => {
        addEventDeleteButton(deleteButton)
    });


    addEventCreateButton(document.querySelector('.botao-criar'))
    window.addEventListener('keydown', function (e) { if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) { if (e.target.nodeName === 'INPUT' && e.target.type !== 'textarea') { e.preventDefault(); return false; } } }, true);
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
    console.log('bla')
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
{% endblock %}