{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block style %}
<!-- <style>
.form-control {
  padding-right: 30px;
}

.form-control + .fas {
  position: absolute;
  right: 0;
  padding: 8px 27px;
} -->
</style>
{% endblock %}

{% block body %}
<h1>Usuario logado</h1>

<a href="{% url 'login:logout' %}">LOGOUT</a>

<div class="container">
    <div class="row mt-b">
        <div class="col-sm">
            <h2>Status</h2>
            <button type="button" class="btn btn-primary">Criar Status</button>
            <div class="card">
                <div class="card-body">
                    <form action="" method="post" class="form-inline">
                        <div class="row">
                            <div class="form-group">
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="status_codigo" curValue="772634"
                                            value="772634" disabled>
                                        <span class="input-group-append">
                                            <i class="input-group-text bi bi-pencil-square"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="status_nome" curValue="Funcionando"
                                            value="Funcionando" disabled>
                                        <span class="input-group-append">
                                            <i class="input-group-text bi bi-pencil-square"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="status_teste" curValue="Teste"
                                            value="Teste" disabled>
                                        <span class="input-group-append">
                                            <i class="input-group-text bi bi-pencil-square"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col">
                                    <div class="input-group">
                                        <button type="submit" class="btn btn-danger botao-apagar">Apagar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    const removeEditIcon = spanInputGroupAppend => {
        spanInputGroupAppend.remove()
    }

    const addEditIcon = (formControl) => {
        const inputGroup = formControl.parentElement
        const hasSPAN = inputGroup.querySelector('.input-group-append')

        if (!hasSPAN) {
            const span = document.createElement("SPAN")
            const templeteSendIcon = `
            <i class="input-group-text bi bi-pencil-square"></i>
            `
            span.setAttribute("class", "input-group-append")
            span.innerHTML = templeteSendIcon

            inputGroup.appendChild(span)

            return true
        }

        return false
    }

    const addSendIcon = (formControl) => {
        const inputGroup = formControl.parentElement
        const hasSPAN = inputGroup.querySelector('.input-group-append')

        if (!hasSPAN) {
            const span = document.createElement("SPAN")
            const templeteSendIcon = `
            <i class="input-group-text bi bi-send"></i>
            `
            span.setAttribute("class", "input-group-append")
            span.innerHTML = templeteSendIcon

            inputGroup.appendChild(span)

            return true
        }

        return false
    }

    const removeSendIcon = formControl => {
        const inputGroup = formControl.parentElement
        const span = inputGroup.querySelector('.input-group-append')
        if (span) {
            span.remove()
            return true
        }

        return false
    }

    const checkIfInputValueWasEdited = formControl => {
        if (formControl.value != formControl.getAttribute('curValue')) return true
        return false
    }

    const removeIcons = formControl => {
        const row = formControl.parentElement.parentElement.parentElement.parentElement
        const rowChildren = Array.prototype.slice.call(row.children)

        rowChildren.forEach(formGroup => {
            const siblingFormControl = formGroup.querySelector('.form-control')

            if (siblingFormControl) {
                if (checkIfInputValueWasEdited(siblingFormControl)) {
                    const span = formGroup.querySelector('.input-group-append')
                    if (span) {
                        span.remove()
                    }
                }
            }
        })
    }

    const setAttributeDisabledAndRemoveAutofocus = formControl => {
        if (formControl.hasAttribute('autofocus')) {
            formControl.removeAttribute('autofocus')
        }
        formControl.setAttribute('disabled', '')
    }

    const checkIfAtLeast2FieldsHaveBeenEdited = formControl => {
        const row = formControl.parentElement.parentElement.parentElement.parentElement
        const formControls = Array.prototype.slice.call(row.querySelectorAll('.form-control'))
        const editedFields = formControls.reduce((acc, nestedFormControl) => {
            if (checkIfInputValueWasEdited(nestedFormControl)) return acc += 1
            return acc
        }, 0)

        if (editedFields >= 2) return true
        return false
    }

    const addSubmitButton = formControl => {
        const row = formControl.parentElement.parentElement.parentElement.parentElement
        const submitButton = row.querySelector('.botao-enviar')

        if (!submitButton) {
            const div = document.createElement("div")
            div.setAttribute("class", "form-group")
            div.innerHTML = `
            <div class="col">
                <div class="input-group">
                    <button type="submit" class="btn btn-success botao-enviar">Enviar</button>
                </div>
            </div>
            `
            const rowChildren = Array.prototype.slice.call(row.children)
            row.insertBefore(div, rowChildren.slice('-1')[0])
        }
    }

    const removeSubmitButton = formControl => {
        const row = formControl.parentElement.parentElement.parentElement.parentElement
        const submitButton = row.querySelector('.botao-enviar')

        if (submitButton) {
            const formGroup = submitButton.parentElement.parentElement.parentElement
            formGroup.remove()

            return true
        }

        return false
    }

    const getAllSiblings = (elem) => {
        const siblings = [];

        if (!elem.parentNode) {
            return siblings;
        }

        let sibling = elem.parentNode.firstElementChild;

        do {
            if (sibling != elem) {
                siblings.push(sibling);
            }
        } while (sibling = sibling.nextElementSibling);

        return siblings;
    };

    const addEditIconInEditedFields = formControl => {
        const formGroup = formControl.parentElement.parentElement.parentElement
        // const formControls = Array.prototype.slice.call(row.querySelectorAll('.form-control'))
        // const editedFields = formControls.reduce((acc, formControl) => {
        //     if (formControl.value != formControl.getAttribute('curValue')) return acc += 1
        // }, 0)

        // if (editedFields >= 2) return true
        // return false

        const colSiblings = getAllSiblings(formGroup)

        colSiblings.forEach(sibling => {
            const siblingInput = sibling.querySelector('.form-control')

            if (siblingInput) {
                const siblingInputWasEdited = checkIfInputValueWasEdited(siblingInput)

                if (siblingInputWasEdited) addSendIcon(siblingInput)
            }

        })
    }

    const createEventClickEditIcon = editIcon => {
        editIcon.addEventListener('click', (event) => {
            // Remover icone de editar
            // Remover o atributo disabled
            // Adicionar o atributo autofocus
            // Adicionar o atributo autofocus
            // Remover Esse Evento

            const spanInputGroupAppend = editIcon.parentElement
            const disabledInput = spanInputGroupAppend.previousElementSibling
            removeEditIcon(spanInputGroupAppend)

            editIcon.removeEventListener('click', () => { })
            disabledInput.removeAttribute('disabled')
            disabledInput.setAttribute('autofocus', '')
        })
    }

    const createEventFocusOutInput = formControl => {
        formControl.addEventListener('focusout', (event) => {
            // Checar se o valor do input foi editado
            // Se o input foi editado - Adicionar icone de enviar (caso ele nao exista)
            // Se nao adicionar o icone de Editar e seus atributos
            const inputWasEdited = checkIfInputValueWasEdited(formControl)

            formControl.removeEventListener('focusout', () => { })

            if (inputWasEdited) {
                const atLeast2FieldsWereEdited = checkIfAtLeast2FieldsHaveBeenEdited(formControl)

                if (atLeast2FieldsWereEdited) {
                    addSubmitButton(formControl)
                    // Aqui pode dar bug
                    removeIcons(formControl)
                } else {
                    addSendIcon(formControl)
                }
            } else {
                removeSendIcon(formControl)
                if (removeSubmitButton(formControl)) {
                    addEditIconInEditedFields(formControl)
                }
                addEditIcon(formControl)
                setAttributeDisabledAndRemoveAutofocus(formControl)

                const editIcon = formControl.nextElementSibling.firstElementChild
                createEventClickEditIcon(editIcon)
            }

        })
    }

    const disabledInputs = Array.prototype.slice.call(document.querySelectorAll('input[disabled]'))

    disabledInputs.forEach(disabledInput => {
        const editIcon = disabledInput.nextElementSibling.firstElementChild
        createEventClickEditIcon(editIcon)
        createEventFocusOutInput(disabledInput)
    });


    // const insertRemoveSubmitButton = (col) => {
    //     const formControls = Array.prototype.slice.call(col.querySelectorAll(".form-control"))

    //     const insertSubmitButton = formControls.every((formControl) => {
    //         return (formControl.value == formControl.curValue)
    //     })

    //     console.log(insertSubmitButton)

    //     if (insertSubmitButton) {
    //         const div = document.createElement("div")
    //         div.setAttribute("class", "col")
    //         div.innerHTML = `
    //          <button type="button" class="btn btn-success botao-enviar">
    //             Enviar
    //         </button>
    //         `
    //         document.querySelector("#Status").append(div)
    //     }
    // }

    // let elements = document.getElementsByClassName("form-control")

    // for (let item of elements) {
    //     const icon = item.nextElementSibling.children[0]

    //     icon.addEventListener("click", (e) => {
    //         item.removeAttribute("disabled")
    //         item.focus()
    //         item.setAttribute("required", "")
    //         icon.removeEventListener('click', () => {})
    //         icon.parentElement.remove()
    //         const parent = item.parentElement
    //         const col = parent.parentElement.parentElement

    //         item.addEventListener('focusout', (ev) => {
    //             if (ev.currentTarget.value == item.getAttribute("value")) {
    //                 if (!parent.querySelector("span")) {
    //                     item.setAttribute("disabled", "")
    //                     let span = document.createElement("SPAN")
    //                     span.setAttribute("class", "input-group-append")
    //                     span.appendChild(icon)
    //                     item.parentElement.appendChild(span)

    //                     insertRemoveSubmitButton(col)

    //                     item.removeEventListener('click', () => { })
    //                 } else {
    //                     insertRemoveSubmitButton(col)
    //                 }
    //             }
    //         })
    //     })
    // }
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
{% endblock %}