{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block style %}
<!-- <style>
.form-control {
  padding-right: 30px;
}

.form-control + .fas {
  position: absolute;
  right: 0;
  padding: 8px 27px;
} -->
</style>
{% endblock %}

{% block body %}
<h1>Usuario logado</h1>

<a href="{% url 'login:logout' %}">LOGOUT</a>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title  mb-3">
                        Status
                    </h5>

                    {% if messages %}
                    {% for message in messages %}
                    {% if message.level %}
                    <div class="alert alert-{{ message.tags }} " role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% if all_status %}
                    <form action="" method="post">
                        <input type="hidden" name="_method" value="PUT">
                        <input type="hidden" name="_model_class" value="status">
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover table-sm">
                                <caption>
                                    <button type="submit" class="btn btn-primary botao-criar">Criar</button>
                                </caption>
                                <thead>
                                    <tr>
                                        <th scope="col">Código</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Ação</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for status in all_status %}
                                    <tr>
                                        <input type="hidden" class="hidden_id" name="_id" value="{{ status.id }}" disabled>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="codigo"
                                                    curvalue="{{ status.codigo }}" value="{{ status.codigo }}"
                                                    disabled="">
                                                <span class="input-group-append">
                                                    <i class="input-group-text bi bi-pencil-square"></i>
                                                </span>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="nome"
                                                    curvalue="{{ status.nome }}" value="{{ status.nome }}" disabled>
                                                <span class="input-group-append">
                                                    <i class="input-group-text bi bi-pencil-square"></i>
                                                </span>
                                            </div>
                                        </td>

                                        <td>
                                            <button type="submit"
                                                class="btn btn-danger botao-apagar w-100">Apagar</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                    {% else %}
                    <p class="lead vazio text-center">
                        Não há nenhum status.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const getAllSiblings = (elem) => {
        const siblings = [];

        if (!elem.parentNode) {
            return siblings;
        }

        let sibling = elem.parentNode.firstElementChild;

        do {
            if (sibling != elem) {
                siblings.push(sibling);
            }
        } while (sibling = sibling.nextElementSibling);

        return siblings;
    };

    // ALterar nome depois
    const addEditIcon = formControl => {
        const inputGroup = formControl.closest('.input-group')
        const hasSPAN = inputGroup.querySelector('.input-group-append')

        if (!hasSPAN) {
            const inputGroupText = document.createElement("SPAN")
            const templeteSendIcon = `
            <i class="input-group-text bi bi-pencil-square"></i>
            `
            inputGroupText.setAttribute("class", "input-group-append")
            inputGroupText.innerHTML = templeteSendIcon

            inputGroup.appendChild(inputGroupText)

            return true
        }

        return false
    }

    const addSendIcon = formControl => {
        const inputGroup = formControl.closest('.input-group')
        const hasSPAN = inputGroup.querySelector('.input-group-append')

        if (!hasSPAN) {
            const inputGroupAppend = document.createElement("SPAN")
            const templeteSendIcon = `
                <i class="input-group-text bi bi-send"></i>
            `
            inputGroupAppend.setAttribute("class", "input-group-append")
            inputGroupAppend.innerHTML = templeteSendIcon

            inputGroup.appendChild(inputGroupAppend)

            return true
        }

        return false
    }

    const removeSendIcon = formControl => {
        const inputGroup = formControl.closest('.input-group')
        const inputGroupAppend = inputGroup.querySelector('.input-group-append')
        if (inputGroupAppend) {
            inputGroupAppend.remove()
            return true
        }

        return false
    }

    const checkIfInputValueWasEdited = formControl => {
        if (formControl.value != formControl.getAttribute('curValue')) return true
        return false
    }

    const removeIconsFromThisRow = formControl => {
        const tr = formControl.closest('tr')
        const trChildren = Array.prototype.slice.call(tr.children)

        trChildren.forEach(td => {
            const siblingFormControl = td.querySelector('.form-control')

            if (siblingFormControl) {
                if (checkIfInputValueWasEdited(siblingFormControl)) {
                    const inputGroupAppend = td.querySelector('.input-group-append')
                    if (inputGroupAppend) {
                        inputGroupAppend.remove()
                    }
                }
            }
        })
    }

    const removeIconsAndSetDisablesFromAllRows = formControl => {
        const tr = formControl.closest('tr')
        const tBody = tr.parentElement
        const inputGroupAppends =  Array.prototype.slice.call(tBody.querySelectorAll('.input-group-append'))

        inputGroupAppends.forEach(inputGroupAppend => {
            const nestedTr = inputGroupAppend.closest('tr')
            const nesteFormControl = inputGroupAppend.previousElementSibling
            const wasEdited = checkIfInputValueWasEdited(nesteFormControl)
            if (nestedTr.isEqualNode(tr) && wasEdited) {
            } else {
                inputGroupAppend.remove()

                if (!nesteFormControl.hasAttribute('disabled')) {
                    nesteFormControl.setAttribute('disabled', '')
                }
            }
        })
    }

    const setAttributeDisabled = element => {
        element.setAttribute('disabled', '')
    }

    const checkIfAtLeast2FieldsInTheRowHaveBeenEdited = formControl => {
        const tr = formControl.closest('tr')
        const formControls = Array.prototype.slice.call(tr.querySelectorAll('.form-control'))
        const editedFields = formControls.reduce((acc, nestedFormControl) => {
            if (checkIfInputValueWasEdited(nestedFormControl)) return acc += 1
            return acc
        }, 0)

        if (editedFields >= 2) return true
        return false
    }

    const removeDeleteButton = formControl => {
        const tr = formControl.closest('tr')
        const botaoApagar = tr.querySelector('.botao-apagar')
        
        if (botaoApagar) botaoApagar.parentElement.remove()
    }
    
    const addDeleteButton = formControl => {
        const tr = formControl.closest('tr')
        const deleteButton = tr.querySelector('.botao-apagar')
        
        if (!deleteButton) {
            const td = document.createElement("td")
            td.innerHTML = `
            <button type="submit" class="btn btn-danger botao-apagar w-100">Apagar</button>
            `
            const trChildren = Array.prototype.slice.call(tr.children)
            tr.appendChild(td)
        }
    }
    
    const addUpdateButton = formControl => {
        const tr = formControl.closest('tr')
        const submitButton = tr.querySelector('.botao-atualizar')
        
        if (!submitButton) {
            const td = document.createElement("td")
            td.innerHTML = `
            <button type="submit" class="btn btn-success botao-atualizar w-100">Atualizar</button>
            `
            const trChildren = Array.prototype.slice.call(tr.children)
            tr.appendChild(td)
        }
    }
    
    const removeUpdateButton = formControl => {
        const tr = formControl.closest('tr')
        const updateButton = tr.querySelector('.botao-atualizar')
        
        if (updateButton) {
            const td = updateButton.parentElement
            td.remove()
            return true
        }
        return false
    }
    
    const addEditIconInEditedFields = formControl => {
        const td = formControl.closest('td')
        const tdSiblings = getAllSiblings(td)

        tdSiblings.forEach(sibling => {
            const siblingInput = sibling.querySelector('.form-control')

            if (siblingInput) {
                const siblingInputWasEdited = checkIfInputValueWasEdited(siblingInput)

                if (siblingInputWasEdited) {
                    addSendIcon(siblingInput)
                    createEventEditButton(siblingInput)
                }
            }

        })
    }

    const addAllowAndDeniedButtons = formControl => {
        const td = formControl.closest('td')
        const templateCollapse = `
                <p class="text-center">Tem certeza que deseja atualizar?</p>
                <div class="btn-toolbar mb-3 d-flex justify-content-center">
                    <div class="btn-group mr-2">
                        <button type="submit" class='btn btn-secondary allow'>SIM</button>
                    </div>
                    <div class="btn-group mr-2">
                        <button type="button" class='btn btn-primary denied'>NAO</button>
                    </div>
                </div>
            `

        const card = document.createElement('div')
        card.setAttribute('class', 'card card-body')
        card.innerHTML = templateCollapse

        if (!td.querySelector('.card')) td.appendChild(card)
    }

    const addEditAndSendIconsIntoAllFormControls = formControl => {
        const tBody = formControl.closest('tbody')
        const formControls = Array.prototype.slice.call(tBody.querySelectorAll('.form-control'))

        formControls.forEach(nestedFormControl => {
             const inputWasEdited = checkIfInputValueWasEdited(nestedFormControl)

                if (inputWasEdited) {
                    addSendIcon(nestedFormControl)
                    createEventEditButton(nestedFormControl)
                    if (nestedFormControl.hasAttribute('disabled')) nestedFormControl.removeAttribute('disabled')
                } else {
                    addEditIcon(nestedFormControl)
                    createEventClickEditIcon(nestedFormControl)
                }
        })
    }

    const setAttributeDisabledAllHiddenInputs = formControl => {
        const tBody = formControl.closest('tbody')
        const tBodyChildren = Array.prototype.slice.call(tBody.children)

        tBodyChildren.forEach(tBodyChild => {
            const hiddenId = tBodyChild.querySelector('.hidden_id')

            if (!hiddenId.hasAttribute('disabled')) setAttributeDisabled(hiddenId)
        })
    }

    const removeDisableOnThatHiddenInput = formControl => {
        const tr = formControl.closest('tr')
        const hiddenId = tr.querySelector('.hidden_id')

        if (hiddenId)
        hiddenId.removeAttribute('disabled')
    }
    
    const createEventDeniedButtonFormControls = formControl => {
        const tr = formControl.closest('tr')
        const deniedButton = tr.querySelector('.denied')
        deniedButton.addEventListener('click', ev => {
            deniedButton.removeEventListener('click', () => { })

            const nestedCard = deniedButton.parentElement.parentElement.parentElement

            addEditAndSendIconsIntoAllFormControls(formControl)
            nestedCard.remove()

        })
    }

    const createEventEditButton = formControl => {
        const inputGroupAppend = formControl.nextElementSibling
        inputGroupAppend.addEventListener('click', (e) => {
            inputGroupAppend.removeEventListener('click', () => { })

            removeIconsAndSetDisablesFromAllRows(formControl)
            addAllowAndDeniedButtons(formControl)
            createEventDeniedButtonFormControls(formControl)
        })
    }

    const createEventClickEditIcon = formControl => {
        const inputGroupAppend = formControl.nextElementSibling
        const inputGroupText = inputGroupAppend.firstElementChild
        inputGroupText.addEventListener('click', (event) => {
            inputGroupText.removeEventListener('click', () => { })
            inputGroupAppend.remove()
            formControl.removeAttribute('disabled')
            formControl.focus()
        })
    }

    const createEventFocusOutInput = formControl => {
        formControl.addEventListener('focusout', (event) => {
            const target = event.target
            formControl.removeEventListener('focusout', () => { })
            const inputWasEdited = checkIfInputValueWasEdited(target)


            if (inputWasEdited) {
                const atLeast2FieldsWereEdited = checkIfAtLeast2FieldsInTheRowHaveBeenEdited(target)

                if (atLeast2FieldsWereEdited) {
                    removeDeleteButton(target)
                    addUpdateButton(target)
                    removeIconsFromThisRow(target)
                } else {
                    addSendIcon(target)
                    createEventEditButton(target)
                }
                removeDisableOnThatHiddenInput(target)
            } else {
                removeSendIcon(target)
                if (removeUpdateButton(target)) {
                    addDeleteButton(target)
                    addEditIconInEditedFields(target)
                }
                addEditIcon(target)
                setAttributeDisabled(target)
                setAttributeDisabledAllHiddenInputs(target)

                createEventClickEditIcon(target)
            }

        })
    }

    const formControls = Array.prototype.slice.call(document.querySelectorAll('input.form-control'))

    formControls.forEach(formControl => {
        createEventClickEditIcon(formControl)
        createEventFocusOutInput(formControl)
    });

    const addEventCreateButton = createButton => {
        createButton.addEventListener('click', () => {
            createButton.removeEventListener('click', () => { })
            // removeIconsFromThisRow(tr)
        })
    }

    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
{% endblock %}